body {
    background-color: grey;
    background-image: url("bmi-chartm.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;;
}

#bmi_result {
    font-size: 1.7rem;
}

.row {
    min-height: 90vh;
    color: chartreuse;
}

.col-4 {
    background-color: black;
    opacity: 0.9;
    border-radius: 1rem;
    padding: 1.4rem 2.2rem;
}